@media screen and (min-width: 768px) and (max-width: 992px) {

    main {
        padding: 20px 40px 20px 40px;
    }

    /* Bases */

    h3 {
        /* 14-16px */
        font-size: clamp(0.875rem, 0.4464rem + 0.8929vw, 1rem);

    }

    /* Filter bar */

    #filter ul {
        /* 12-14px; */
        font-size: clamp(0.75rem, 0.3214rem + 0.8929vw, 0.875rem);
    }

    #filter li {
        margin-right: 20px;
        padding: 10px 15px 10px 15px;
    }
    
    ul .fa-solid {
        padding-right: 7px;
    }

    /* Card host */


    
    /* Card popular */

    .card-popular img {
        width: 105px;
        min-width: 105px;
    }

    .card-popular h3 {
        flex-wrap: wrap;
    }

    .card-popular {
        width: auto;
    }

    .container-card-popular {
        margin: 10px 5px 10px 10px;
    }

    /* Popular part */
      
    #flex-popular {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        /* margin: 25px auto 30px auto; */
    }

    /* Both */

    .canva-title {
        font-size: clamp(1.125rem, 0.2679rem + 1.7857vw, 1.375rem);
    }

    #articles-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .card-popular p, .card-host p {
        /* 12-16px */
        font-size: clamp(0.8125rem, 0.1696rem + 1.3393vw, 1rem);
    }

    /* Cards activities */

    .card-activities img {
        width: 100%;
        object-fit: cover;
        height: 210px;
        border-radius: 20px 20px 0px 0px;
    }
    
    .card-activities {
        /* width: 210px; */
        width: clamp(165px, 100%, 180px);
        height: 265px;
        border-radius: 20px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
        margin: auto;
    }

    /* Footer */

    #footer-flex {
        padding: 45px 150px 50px 70px;
    }

} 

@media screen and (min-width: 320px) and  (max-width: 768px) {


    h3 {
        /* 14-16px */
        font-size: clamp(0.875rem, 0.7857rem + 0.4464vw, 1rem);

    }

    p {
        /* 12-14px */
        font-size: clamp(0.75rem, 0.6607rem + 0.4464vw, 0.875rem);
    }

    main {
        padding: 0;
        margin: 20px;
    }

    /* Header */

    nav {
        flex-direction: column;
        padding: 35px 0px;
    }

    #nav-link {
        display: flex;
        align-items: center;
        width: 100%;
    }

    nav a {
        padding: 40px 15px 25px 15px;
        margin: 0;
        flex: 1;
        text-align: center;
        border-bottom: 3px solid #F2F2F2;
        
    }

    nav a:hover {
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }

    /* Infobar */

    #infobar {
        margin: 30px 0px 50px 5px;
    }

    /* Body */
    /* Form */

    #search-form {
        justify-content: center;
    }
    

    input[type='submit'] {
        display: none;
    }

    button {
        display: initial;
        background-color: #0065FC;
        color: white;
        padding: 15px 20px;
        border: none;
        cursor: pointer;
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
        line-height: 19px;
        border-radius: 0px 15px 15px 0px;
        height: 50px;
    }

    /* Filter bar */

    #filter ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40px 40px;
        gap: 15px 5px;
        font-size: 11px;
        max-width: 350px;
    }

    #filter li {
        border: 2px solid #D9D9D9;
        border-radius: 20px;
        width: 100%;
        max-width: 150px;
        padding: 10px 5px;
    }

    #filter {
        display: initial;
    }

    #filter h3 {
        margin-bottom: 15px;
    }

    ul .fa-solid {
        padding-right: 5px;
        margin-left: 4px;
    }

    /* Hosting part */

    #flex-host {
        display: flex;
        flex-direction: column;
    }

    #host-container {
        background-color: white;
        padding: 0px;
    }

    /* Popular part */

    .card-popular {
        margin: auto;
    }

    #flex-popular {
        display: grid;
        justify-content: center;
    }

    #popular-container {
        border-radius: 0;
        padding: 40px 0px 0px 0px;
    }

    /* Both parts */

    #articles-container {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
        margin: 0px -20px;
    }

    /* Cards activities */

    #flex-activities {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .card-activities img {
        width: 100%;
        object-fit: cover;
        height: 125px;
        border-radius: 20px 20px 0px 0px;
    }

    .card-activities {
        height: fit-content;
        width: auto;
    }

    .container-card-activities {
        padding: 15px;
        margin: 0px;
    }

    /* Footer */

    #footer-flex {
        flex-direction: column;
        margin: 60px 0px 0px 0px;
        padding: 40px 0px 10px 40px;
    }

    .list-canva {
        margin-bottom: 30px;
    }
    
    }
